.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border-bottom: 1px solid #ddd;
  background-color: #01103a;
  color: #fff;
}

.logo {
  font-size: 24px;
  color: fff;
}

.nav {
  display: flex;
  gap: 24px;
}

.nav a {
  text-decoration: none;
    color: #f8edd9;
  font-weight: 500;
}